/* Styling for create family member page */
#create-member-header {
    text-align: center;
}

.Container {
    background-color: white;
    position: relative;
    margin: 0;
    padding: 0;
}

.Image {
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    margin-left: 23%;
}

.BackgroundImage {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.FormWrapper {
    position: absolute;
    top: 12%;
    left: 35%;
}

.Header {
    font-family: 'Permanent Marker', cursive;
}

.Label {
    font-size: 1.5rem;
}

/* Meida queries for create member form */
@media screen and (max-width: 376px) {
    .FormWrapper {
        top: 12%;
        left: 0%;
    }

    .Image {
        height: 10rem;
        width: 10rem;
        margin-left: 25%;
    }

}

@media screen and (min-width:377px) and (max-width: 576px) {
    .FormWrapper {
        top: 12%;
        left: 0%;
    }

    .Image {
        height: 10rem;
        width: 10rem;
        margin-left: 30%;
    } 
}

@media screen and (min-width:577px) and (max-width: 768px) {
    .FormWrapper {
        top: 12%;
        left: 8%;
    }

    .Image {
        height: 12rem;
        width: 12rem;
        margin-left: 30%;
    } 
}

@media screen and (min-width:767px) and (max-width: 992px) {
    .FormWrapper {
        top: 12%;
        left: 25%;
    }

    .Image {
        height: 12rem;
        width: 12rem;
        margin-left: 30%;
    } 
}




