/* Styling for displaying family members */

.Link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.Button {
    border: none;
}

.Image {
    height: 2rem;
    width: 2rem;
}

.MemberDropdownText {
    font-size: small;
}

.AddMemberIcon {
    margin-left: 2%;
}