/* Styling for footer */

#footer-container {
    height: auto;
    padding: 1rem 0;
    position: absolute;
}

.Link {
    color: black;
    text-decoration: none;
}

.Hr {
    height: 1%;
    width: 80%;
    color: black;
}