/* Styling for home page */

#home-page-wrapper {
    position: relative;
}

#home-img {
    object-fit: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

#home-text-wrapper {
    position: absolute;
    margin-top: 25%;
    margin-left: 7%;
}

#home-header {
    font-size: 6rem;
    font-family: 'Rock Salt', cursive;
}

#home-info-text {
    width: 60%;
    text-align: left;

}

.FontAwesomeIconStar {
    color: #D4AF37;
}

.LinkSignUp {
    text-decoration: none;
}

/* Media queries for home page */
@media screen and (max-width: 376px) {
    #home-header {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    #home-info-text {
        font-size: 1rem;
        width: 80%;
    }

    #home-text-wrapper {
        margin-top: 29%;
        margin-left: 12%;
    }
  }

@media screen and (min-width:377px) and (max-width: 576px) {
    #home-header {
        font-size: 3rem;
    }

    #home-info-text {
        width: 70%;
    }

    #home-text-wrapper {
        margin-top: 20%;
        margin-left: 15%;
    }

}

@media screen and (min-width:577px) and (max-width: 768px) {
    #home-header {
        font-size: 4rem;
    } 
        
    #home-info-text {
        font-size: 1rem;
        width: 70%;
    }
        
    #home-text-wrapper {
        margin-top: 40%;
    }
}

@media screen and (min-width:769px) and (max-width: 992px) {
    #home-header {
        font-size: 5rem;
        margin-top: 1rem;
    } 

    #home-info-text {
        font-size: 1rem;
        width: 80%;
    }

    #home-text-wrapper {
        margin-top: 20%;
    }
}
