/* Styling for my scoreboard section */

.Image {
    height: 6rem;
    width: 6rem;
    margin-bottom: 0.4rem;
}

.ScoreBoardNumber {
    font-size: 3rem;
    margin-top: 0.6rem;
    margin-bottom: 0;
    text-align: center;
}

.ScoreBoardText {
    margin-top: 0;
    font-weight: bold;
}

.FontAwesomeIcon {
    color: #D4AF37;
    /* padding-left: 0.5rem;  */
    font-size: 2rem;
}

.RabbitFace {
    padding-left: 0.5rem;
    height: 7.5rem;
    width: 7.5rem;
}

.ScoreBoardHeader {
    margin-top: 1rem;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding: 3%;
} 

/* Media queries for my scoreboard */

@media screen and (max-width: 376px) {
    .ScoreBoardNumber {
        font-size: 2.5rem;
    }

    .FamilyInfoWrapper {
        margin-bottom: 1rem;
    }
  }

@media screen and (min-width:377px) and (max-width: 576px) {
    .CompletedTasksWrapper {
        margin-top: 1.5rem;
    }

    .ToDoTaskWrapper {
        margin-top: 1.5rem;
    }

}

  @media screen and (min-width:577px) and (max-width: 768px) {
    .Image {
        height: 5rem;
        width: 5rem;
        margin-top: 1rem;
    }

    .CompletedTasksWrapper {
        margin-top: 1.5rem;
    }

    .ToDoTaskWrapper {
        margin-top: 1.5rem;
    }

    .OngoingTaskWrapper{
        margin-top: 1.5rem;
    }
  }

@media screen and (min-width:769px) and (max-width: 992px) {
    .Image {
        height: 6rem;
        width: 6rem;
    }

    .CompletedTasksWrapper {
        margin-top: 1.2rem;
    }

    .ToDoTaskWrapper {
        margin-top: 1.2rem;
    }

    .OngoingTaskWrapper{
        margin-top: 1.2rem;
    }
  }