/* Styling for Navbar */
.NavBar {
    position: absolute;
    z-index: 1;
    background: rgb(244, 237, 232, 0.6);
}

.Container {
    margin: 0;
    padding: 0;
}

.Link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#star-icon {
    color: #D4AF37;
    padding-left: 0.5rem;
}

.Menu {
    /* text-align: center; */
    /* width: 100vh; */
    border: none;
    border-radius: 0;
}

.Headers {
    font-family: 'Rock Salt', cursive;
  }

