/* Styling for Navbar */
.NavBar {
    position: absolute;
    z-index: 1;
    background: rgba(244, 240, 240, 0.4);
}

.Link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#star-icon {
    color: #D4AF37;
    padding-left: 0.5rem;
}