/* Styling for family member scoreboard */
/* 
h4 {
    display: inline-block;
} */

.Image {
    height: 4rem;
    width: 4rem;
    margin-top: 1.7rem;
    margin-bottom: 0.2rem;
    /* display: inline-block; */
}

.ScoreBoardNumber {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.ScoreBoardText {
    font-weight: bold;
}

.ScoreBoardTextImage {
    font-weight: bold;
}

.FontAwesomeIcon {
    color: #D4AF37;
    padding-left: 0.5rem;
    padding-bottom: 0.1rem;
}

.FamilyStar {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: bold;
}

/* Media queries for profile scoreboard */

@media screen and (min-width: 768px) {
    .Image {
        height: 5rem;
        width: 5rem;
        margin-top: 1rem;
    }
  }

@media screen and (min-width: 992px) {
    .Image {
        height: 6rem;
        width: 6rem;
    }
  }