/* Styling for family member scoreboard */

.Image {
    height: 4rem;
    width: 4rem;
    margin-top: 1.7rem;
    margin-bottom: 0.2rem;
}

.ScoreBoardNumber {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    text-align: center;
}

.ScoreBoardText {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.ScoreBoardTextImage {
    font-family: 'Permanent Marker', cursive;
}

.FontAwesomeIcon {
    color: #D4AF37;
    padding-left: 0.5rem;
    padding-bottom: 0.1rem;
}

.FontAwesomeIconMember {
    color: #D4AF37;
    padding-left: 0.2rem;
    padding-bottom: 0.1rem;
    font-size: 1rem;
}

.FamilyStarName {
    margin-right: 0.7rem;
}

.FamilyStar {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-family: 'Permanent Marker', cursive;
}

.FamilyStarPoints {
    font-weight: bold;
}

/* Media queries for profile scoreboard */

@media screen and (min-width: 768px) {
    .Image {
        height: 5rem;
        width: 5rem;
        margin-top: 1rem;
    }
  }

@media screen and (min-width: 992px) {
    .Image {
        height: 6rem;
        width: 6rem;
    }
  }