/* Styling for sign in form */

.Container {
    position: relative;
    margin: 0;
    padding: 0;
}

.Header {
    font-family: 'Rock Salt', cursive;
    text-align: center;
}

.SignUpLink {
    /* color: black; */
    margin-left: 0.3rem;
    text-decoration: none;
}

.SignUpText {
    font-weight: bold;
    margin-top: 1.3rem;
}

.FormWrapper {
    position: absolute;
    top: 23%;
    left: 32%;
}

.BackgroundImage {
   object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* Media queries for sign in form */
@media screen and (max-width: 376px) {
    .FormWrapper {
        top: 14%;
        left: 0%;
    }

    .SignUpText {
        margin-top: 0.6rem;
        text-align: center;
    }

    .Header {
        margin-bottom: 1rem;
    }

}

@media screen and (min-width:377px) and (max-width: 576px) {
    .FormWrapper {
        top: 12%;
        left: 0%;
    }

    .SignUpText {
        margin-top: 0.9rem;
        text-align: center;
    }

    .Header {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width:577px) and (max-width: 768px) {
    .FormWrapper {
        top: 12%;
        left: 25%;
    }

    .Header {
        margin-bottom: 1rem;
    }

}

@media screen and (min-width:767px) and (max-width: 992px) {
    .FormWrapper {
        top: 12%;
        left: 25%;
    }
    
    .SignUpText {
        margin-top: 2.2rem;
        text-align: center;
    }

    .Header {
        margin-bottom: 2rem;
    }
}