/* Styling for taskboard page */

.Container {
    margin-top: 4rem;
}

.Headers {
    font-family: 'Permanent Marker', cursive;
  }

#family-member-score-board {
    background-color: #FFC0CB;
    border-radius: 1rem;
    
}

#my-score-board {
    background-color: #D1EDF2;
    border-radius: 1rem;
    height: fit-content;
}

#todo-tasks-wrapper {
    height: fit-content;
}

.FontAwesomeIcon {
    color: #D4AF37;
    margin-left: 6%;
}

.Button {
    color: black;
}

.userPlus {
    color: black;
}

.checkMark {
    color: green;
}

.endDate {
    font-size: 0.8rem;
    margin-right: 0.3rem;
}

.taskTitle {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Permanent Marker', cursive;
}

.CardBody {
    padding: 0.2rem 0 0.3rem 0;
}

.Image {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.7rem;
}