/* Styling for taskboard page */

.Container {
    margin-top: 4.5rem;
}

.Headers {
    font-family: 'Permanent Marker', cursive;
  }

#family-member-score-board {
    background: #FBD1DB;
    background-image: url("../assets/images/rabbit-2.webp");
    background-size: cover;
    border-radius: 0.5rem;
    
}

#my-score-board {
    background: #FBD1DB;
    background-image: url("../assets/images/rabbit-2.webp");
    background-size: cover;
    border-radius: 0.5rem;
    height: fit-content;
}

#todo-tasks-wrapper {
    height: fit-content;
}

.FontAwesomeIcon {
    color: #D4AF37;
    margin-left: 6%;
}

.Button {
    color: black;
}

.userPlus {
    color: black;
}

.checkMarkDone {
    color: green;
}

.checkMark {
    color: lightgrey;
}

.endDate {
    font-size: 0.8rem;
    margin-right: 0.3rem;
}

.taskTitle {
    font-size: 1.5rem;
    font-weight: 100;
    /* font-family: 'Permanent Marker', cursive; */
    font-weight: bold;
}

.CardTitle {
    background: #FBD1DB;
}

.CardBody {
    padding: 0.2rem 0 0.3rem 0;
}

.Image {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.7rem;
}

.AssignButton {
    border: none;
    border-radius: 50%;
    background-color: white;
}

.checkMarkDone:hover {
    color: darkgreen;
}

.checkMark:hover {
    color: grey;
}

.userPlus:hover {
    color:  #00000096;
}

.DoneAndAssignBtnsWrapper {
    --bs-gutter-x: 0;
}

.cardCategory {
    font-weight: bold;
    margin-left: 1.5rem;
}

/* Media queries for profile scoreboard */
@media screen and (max-width: 376px) {
    #family-member-score-board {
        border-radius: 0;
        
    }
  }

/* Media queries for my scoreboard */
@media screen and (max-width: 376px) {
    #my-score-board {
        border-radius: 0;
        
    }
  }