/* Styling for taskboard page */

.Container {
    margin-top: 6rem;
}

#family-member-score-board {
    background-color: blue;
}

#my-score-board {
    background-color: red;
}


#tasks-wrapper {
    background-color: yellow;
}

#todo-tasks-wrapper {
    background-color: pink;
}

.FontAwesomeIcon {
    color: #D4AF37;
    margin-left: 6%;
}

.Button {
    color: black;
}

.userPlus {
    color: black;
}

.checkMark {
    color: green;
}

.endDate {
    font-size: 1rem;
}

.taskTitle {
    font-size: 1.7rem;
}